.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  padding: 15px 0px;
  background-color: cadetblue;
}

img {
  height: 200px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: black;
}
